* {
    margin: 0px;
    padding: 0px;
}

/* Header */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(194, 57, 39);
    color: rgb(229, 255, 111);
    padding: 10px;
    height: 9vh;
}

header .logo {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 20px;
}

header .menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    padding-bottom: -10px;
    margin-top: -40px;
}

ul li {
    display: inline-block;
    float: right;
    padding: 7px 20px;
    border-radius: 20px;
}

.menu ul li a{
    text-decoration: none;
    list-style: none;
    color: rgb(194, 57, 39);
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
}

ul li a:hover{
    padding: 10px 20px;
    background-color: rgb(229, 255, 111);
    color: rgb(194, 57, 39);
    box-shadow: 0px 1px 18px white
}

.login{
    margin-left: -15px;
    border-radius: 20px;
}
/* End Header */

/* Content */
.one {
    background-image: url(https://media.abc10.com/assets/KXTV/images/7b7c5bec-de73-4769-8136-5b03acd933c5/7b7c5bec-de73-4769-8136-5b03acd933c5_1920x1080.jpg);
    background-size: cover;
    height: 600px;
    color: rgb(229, 255, 111);
}

.greet h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serift;
    color: rgb(229, 255, 111);
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
}

.ishvara h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 95px;
}

.foreword h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serift;
    text-align: center;
    color: rgb(229, 255, 111)ck;
    font-size: 20px;
    padding-bottom: 70px;
}

.contact-us a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(194, 57, 39);
    background-color: white;
    margin-left: 640px;
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 30px;
}
.contact-us :hover{
    background-color:  rgb(194, 57, 39);
    padding: 10px 40px;
    color: rgb(229, 255, 111);
    box-shadow: 0px 1px 18px rgb(194, 57, 39)
}
/* End Content */

/* Footer */
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(194, 57, 39);
    color: rgb(229, 255, 111);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

footer h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
/* End Footer */

/* Tablet */
@media screen and (max-width: 768px){
    .one .greet h2{
        margin-left: 220px;
        font-size: 30px;
    }

    .ishvara h1{
        font-size: 70px;
        margin-left: 110px;
    }

    .contact-us a{
        margin-left: 230px;
    }
}
/* End Tablet */


/* Handphone */
@media screen and (max-width: 576px){
    ul li{
        padding: 25px 10px;
    }

    .menu ul li a{
        padding: 10px 15px;
    }

    header .logo{
        font-size: 20px;
        padding-left: 20px;
    }

    .one .greet h2{
        margin-left: 180px;
        font-size: 20px;
    }

    .one .greet h1{
        font-size: 50px;
        margin-left: 90px;
    }

    .foreword p{
        font-size: 17px;
    }
    
    .contact-us a{
        font-size: 20px;
        margin-left: 150px;
    }
}
/* End Handphone */
